.container{
    height: 540px;
    width: 700px;
}

.texto_inicio{
    height: 100%;
    width: 700px;
}

.sub_titulo1{
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: space-between;
    width: 1349px;
}


.titulo{
    background: rgb(32, 32, 32);
    width: 1349px;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.sub_titulo1 h2{
    margin-left: 90px;
    margin-right: 140px;
    display: flex;
    justify-content: center;
    width: 45%;
}


h1{
    font-family: sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    margin-left: 15px;
    margin-right: 15px;
}

h2{
    font-family: sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-left: 15px;
    margin-right: 15px;
   
}

.texto{
    background-color: #333;
    width: 1349px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
  
}

.texto1{
    background-color: #333;
    width: 1349px;    
    display: flex;
    justify-content:space-between;
}

.texto1 p{
    font-family: sans-serif;
    color: white;    
    display: flex;
    text-align: left;
    font-size: 1.2rem;
    margin-left: 90px;
    margin-right: 70px;
    justify-content:space-around;
    width: 45%;
    align-items: center;
}

.img1{
    background-color: rgb(32, 32, 32);
    width: 1349px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 img{    
    height: 650px;
    display: flex;   
    
}

.texto2{
    background-color: #333;
    width: 1349px;
    display: flex;
    justify-content:space-between;
}

.texto p{
    font-family: sans-serif;
    color: white;    
    display: flex;
    text-align: left;
    font-size: 1.2rem;
    margin-left: 15px;
    width: 45%;
    background-color: #333;   
    margin-left: 90px;
}

.texto img {
    margin-right: 80px;
  
}

.texto2 p{
    font-family: sans-serif;
    color: white;    
    text-align: left;
    font-size: 1.3rem;
    margin-left: 130px;
    margin-right: 130px;
    width: 100%;
}

.texto2 b{
    font-size: 1.1rem;
    
}

.texto h2{
    font-family: sans-serif;
    color: black;    
    display: flex;
    justify-content:flex-start;
    font-size: 1.7rem;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.div_texto3 p{
    font-family: sans-serif;
    color: white;    
    text-align: left;
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 90px;
    margin-right: 70px;
}


.div_texto3{
    background-color: rgb(32, 32, 32);
    align-items: center;
    display: flex;
    width: 1349px;
}

.footer p{
    justify-content: center;
    display: flex;
}
.footer {
    width: 1349px;
    justify-content: center;
    display: flex;
}

